<div align="center">
    <br><br><h1>Create New User:</h1><br><br>
    <% if !!@error %>
        <%= @error %>
    <%end%>
    <form action="/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" name="user[username]" required autocomplete="off"><br><br>
        <label for="password">Password:</label>
        <input type="password" name="user[password]" required autocomplete="off"><br><p>Passwords must be at least 8 characters long.</p><br>
        <input type="submit" value="Sign Up">
    </form>
</div>