<div align="center">
    <br><br><h1>Create New User:</h1><br><br>
    <form action="/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" name="user[username]"><br><br>
        <label for="password">Password:</label>
        <input type="password" name="user[password]"><br><br>
        <input type="submit" value="Sign Up">
    </form>
</div>