<div align="center">
    <br><h3>Create new recipe:</h3><br><br>
    <form method="post" action="/recipes/new">
        <label for="recipe">Name:</label>
        <input type="text" name="recipe[name]"><br><br>
        <label for="ingredients">Ingredients:</label>
        <% %>    
            <input type="text" name="recipes_ingredient[ingredient][name]">
        <label for="instructions">Instructions:</label>
        <input type="text" name="recipe[instructions]" size="50"><br><br>
        <input type="submit" value="Create Recipe">
    </form>
    <br>
    <a href="/recipes">Return to Recipes</a>
    <br><br><a href="/">Return to User Page</a> | <a href="/logout">Log Out</a>
</div>