<div align="center">
    <% if @users_ingredients.empty? %>
        <p>Looks like you don't have any items in your pantry.</p>
    <% else %>
        <table>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Calories</th>
            </tr>
            <% @users_ingredients.each do |users_ingredient| %>
                <% ingredient = Ingredient.find(users_ingredient.ingredient_id) %>
                <tr>
                    <td align="center"><%=ingredient.name%></td>
                    <td align="center"><%=users_ingredient.quantity%></td>
                    <td align="center"><%=ingredient.calories%></td>
                </tr>
                # add buttons to side of table that edit or delete 
                # <form>
                #     <input type="
                # </form>
            <% end %>
        </table>
    <%end%>
    <br><br><br>
    <a href="ingredients/new">Create New Ingredient</a>
</div>