<div align="center">
    <br><h3>Create new item:</h3><br><br>
    <form method="post" action="/ingredients/new">
        <label for="ingredient">Name:</label>
        <input type="text" name="ingredient[name]"><br><br>
        <label for="quantity">Quantity:</label>
        <input type="number" name="users_ingredient[quantity]" min=1><br><br>
        <label for="calories">Calories:</label>
        <input type="number" name="ingredient[calories]"><br><br>
        <input type="submit" value="Add to Pantry">
    </form>
    <br>
    <a href="/ingredients">Return to Pantry</a>
    <br><br><a href="/">Return to User Page</a> | <a href="/logout">Log Out</a>
</div>